* {
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

h2,h3,
p {
  margin: 2%;
  color: black;
}



body {
  background-image: url("../recursos/pizza1.jpg");
}


/*[img][nav] -> lista flexionada horizontalmente centrado*/
.nav_horizontal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.nav_horizontal > img {
  height: 55px;
}

.nav_horizontal > nav.menu {
  border: #9c9c9c 1px solid;
  background-color: #ffffff;
}

/*[li][li][li][li][li][li] -> lista flexionada horizontalmente centrado*/
.nav_horizontal > nav.menu > ul {
  display: flex;
  justify-content: center;
  list-style-type:none;
  padding: 0;
}
/*formateo de los elementos de la lista*/
.nav_horizontal > nav.menu > ul > li {
  text-decoration:none;
  margin: 0,90rem;
  width: 120px;
  text-align:center;
}
/*formateo de los enlaces a*/
.nav_horizontal > nav.menu > ul > li > a {
  color: #9c9c9c;
  text-decoration:none;
  font-weight: bold;
}
 /*formateo de los enlaces a con hover*/
.nav_horizontal > nav.menu > ul > li > a:hover{
  color: #FF0000;
  text-decoration: underline #FF0000;
}
/*formateo de los enlaces a con active*/
.nav_horizontal > nav.menu > ul > li > a:active{
  color: blue;
}

/*se adapta la imagen*/
header > img {
max-height:100%;
min-height:20%;
width:100%;
}

/*se formatea el div.container*/
.container {
  margin: 20px auto;
  width: 90%;
  margin-bottom:10px;
  margin-top:10px;
  display: grid;

}



/*Distribución main*/
.containerGeneral{

display: grid;
grid-template-rows: 4;
grid-template-columns: 6;
grid-template-areas: " . . pedidos pedidos . ."
                      ". . registro registro . ."
                      ". .  titulo  . . ."
                      ". . direccion direccion . .";

}

.containerGeneral h2{
color:white;
}

/*titulo pedidos*/
header{
grid-area: pedidos ;

}


/*Cuadro ¿Estás registrado? */
.estasRegistrado{
grid-area: registro;
display: grid;
grid-template-columns:10% 40% 40% 10%;
grid-template-areas: ". registrado noRegistrado ." ;


}

.registrado{
background-color:rgb(255, 255, 255) ;
grid-area: registrado;
padding:2em;
}

.registrado p, h3{
color:black;
}

.registrado h2{
color:black;
}


.noRegistrado{
background-color: grey;
grid-area: noRegistrado;
padding:2em;
opacity: 90%;
}

.noRegistrado h2,p{
color: white;
}
/*estas registrado cuando pasa por encima el ratón*/
.registrado:hover{
background-color: #393939ec ;
}

.registrado:hover h2{
color:rgb(255, 255, 255);
}
.registrado:hover h3{
color:rgb(255, 255, 255);
}
.registrado:hover p{
color:rgb(255, 255, 255);
}



.noRegistrado:hover{

background-color: #393939ec;
}

/*Botones rojo-blanco*/
button{
background-color:rgb(250, 75, 75);
border:white;
border-radius: 10px;
padding: 0.7em;
box-shadow:1px 1px rgba(53, 53, 53, 0.817);
display:block;
margin: 1em;
}

button:hover{
background-color:rgb(205, 56, 56);

}


a{
text-decoration: none;
color:white;
}

/*texto centro */
.titulo_form{
grid-area: titulo;
padding-left: 1emS;
margin:3em;
background-color: black;
}

/*formulario adress*/
.direccion{
grid-area: direccion;
display: grid;
grid-template-columns: 25% 50% 25%;
grid-template-areas: ". formulario .";
margin: 1em;
opacity: 90%;
}

form{
grid-area: formulario;
display:flex;
flex-direction: column;
align-items: center;
background: grey;
padding: 2em;
}

form:hover{
background-color: #393939ec;
}

.input{
 padding-bottom: 1em;
 
}

.redondeado{
border: 1px;
border-radius: 1em;
padding: 1em;
}

/*FOOTER*/

.info{
display: grid;
background-color: rgb(255, 255, 255);
grid-template-columns: 50% 50%;
opacity: 90%;

}

.info p{
color: black;
}


/*PEGO*/

.rest{
display: grid;
grid-template-rows: 50% 50%;
}

.socials{
background-color: black;
display:flex;
justify-content: space-around;
margin: 0px;
padding-top: 1em;

}

.socials > button{
margin-left: 40%;

}


/*para tabletas*/
@media screen and (max-width: 768px) {
  .nav_horizontal {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .nav_horizontal > img {
    justify-self: center;
  }
 
}

/*para móviles*/
@media screen and (max-width: 576px) {
  /*[img] -> se crea una cuadricula con 1 columna y 2 filas*/
  /*[nav]*/
  .nav_horizontal {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .nav_horizontal > img {
    justify-self: center;
  }

  /*formateo de la nav.menu; top, right, bottom, left*/
  .nav_horizontal > nav.menu {
    border: none;
  }

  /*[li][li] -> se crea una cuadricula con 2 columnas y 3 filas*/
  /*[li][li]*/
  /*[li][li]*/
  .nav_horizontal > nav.menu > ul {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-items: center;
  }

  /*formateo de los elementos de la lista*/
  .nav_horizontal > nav.menu > ul > li {
    border: #9c9c9c 1px solid;
  }
  /*formateo de las imagenes de todos elemento de la lista*/
  .nav_horizontal > nav.menu > ul > li > img.pedido {
    width:120px;    
    height:120px;
    background: url("../recursos/logo.svg");
  }

}