  /*se formatea todo*/
  * {
    box-sizing: border-box;
    font-family: 'Segoe UI';
  }
  
  /*se formatea el body*/
  body {
    background-color: white;
  }

  /*se crea una cuadricula con 3 columnas*/
  /*[img][nav][div]*/
  .nav_horizontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /*formateo de la imagen*/
  .nav_horizontal > img {
    text-align: left;
    height: 100%;
    margin: -8px 0px 10px 0px; /*top, right, bottom, left*/
  }

  /*formateo de la nav.menu*/
  .nav_horizontal > nav.menu {
    border: #9c9c9c 1px solid;
    margin: -8px 0px 10px 0px; /*top, right, bottom, left*/
  }
  
  /*[li][li][li][li][li][li] -> lista flexionada en horizontal centrado*/
  .nav_horizontal > nav.menu > ul {
    display: flex;
    justify-content: center;
    list-style:none;
  }

  /*formateo de los elementos de la lista*/
  .nav_horizontal > nav.menu > ul > li {
    text-decoration:none;
    margin: 0 .75rem;
    width: 100px;
    text-align:center;
  }
  
  /*formateo de los enlaces a*/
  .nav_horizontal > nav.menu > ul > li > a {
    color: #9c9c9c;
    text-decoration:none;
    font-weight: bold;
  }

   /*formateo de los enlaces a con hover*/
   .nav_horizontal > nav.menu > ul > li > a:hover{
    color: #FF0000;
    text-decoration: underline #FF0000;
  }

  /*formateo de los enlaces a con active*/
  .nav_horizontal > nav.menu > ul > li > a:active{
    color: blue;
  }

  /*se formatea el div.container*/
  .container {
    margin: 20px auto;
    width: 90%;
    margin-bottom:10px;
    margin-top:10px;
  }

  /*[article][article] -> se crea una cuadricula con 2 columnas*/
  /*[article][article]*/
  /*[article][article]*/
  .container main.articulos {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }

   /*se adapta la imagen*/
   .container main.articulos > div.resenias {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
  }

   /*se adapta la imagen*/
   .container main.articulos > div.resenias > article > img {
    max-height:100%;
    min-height:5%;
    width:10%;
  }

  /*se formatea el .boton*/
  .container main.articulos > form > .boton {
    padding: 0px 20px;
    background-color: #f30000; /* Color Rojo */
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 150%;
    border-color: #f30000;
  }  

  /*se formatea el footer*/
  .container > footer {
    margin: 10px 0px 0px 0px;
  }
  
   /*[div][button] -> lista flexionada en horizontal centrado*/
   .container > footer > div.social {
    display:flex;
    justify-content: center;
    background-color: black;
  }

  /*se formatea el button*/
  .container > footer > div.social > button {
    margin-left: 40%;
    padding: 0px 20px;
    background-color: #f30000; /* Color Rojo */
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border-color: #f30000;
  }

  /*se adapta la imagen*/
  .container > footer > div.social > .iconos_vectoriales > img{
    max-height:100%;
    min-height:5%;
    width:10%;
  }  

  /*se formatea el div*/
  .container > footer > div.social > div {
    margin: 0px;
  }